.devour {
	margin: -2.25rem -1rem -2rem auto;
}

.btn-pizza {
	padding: 0.5rem 0.5rem;
	background-color: #947b6f;
	border-color: #947b6f
}

.btn-pizza:hover {
	background-color: #715f57;
	border-color: #715f57
}

.pizzaItem {
	margin: 0.5rem;
	padding: 0.25rem;
	background-color: rgba(247,230,210,0.5);
	border: 1rem solid rgba(247,230,210,0.0);
	border-radius: 0.5rem;
	font-size: 20px;
	vertical-align: middle;
}

.overlay {
	background-color: rgba(247,230,210,0.75);
	padding-bottom: 2rem;
	min-height: 100vh;
}

.jumbotron {
	background-color: rgba(0,0,0,0.03);
}

label {
	font-size: 24px;
	font-weight: 600;
}

body {
	background-image: url("../images/pizza.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}